In [1]:
import pandas as pd
import imgkit
from IPython.display import display

In [2]:
df_guess = pd.read_csv("../questionnaire/guess-o-meter-participants.csv")
df_diff = pd.read_csv("../questionnaire/diff-and-cope-participants.csv")
df_control = pd.read_csv("../questionnaire/controlgroup-participants.csv")

df_guess.rename(columns = {'Type':'EVIS'}, inplace = True)
df_diff.rename(columns = {'Type':'EVIS'}, inplace = True)
df_control.rename(columns = {'Type':'EVIS'}, inplace = True)

In [3]:
df = df_guess.append([df_diff, df_control])

In [4]:
guess_excluded = [5,27,29]
diff_excluded = [10,14,16]
control_excluded = [34,42,45]

In [5]:
df_guess_excluded = df_guess[~df_guess.ID.isin(guess_excluded)]
df_diff_excluded = df_diff[~df_diff.ID.isin(diff_excluded)]
df_control_excluded = df_control[~df_control.ID.isin(control_excluded)]

In [6]:
df_excluded = df_guess_excluded.append([df_diff_excluded, df_control_excluded])

# Nr of participants

In [7]:
len(df_control)

16

In [8]:
len(df_diff)

16

In [9]:
len(df_guess)

17

In [10]:
len(df_control) + len(df_diff) + len(df_guess)

49

In [11]:
len(df_control_excluded) + len(df_diff_excluded) + len(df_guess_excluded)

40

In [12]:
len(df_control_excluded)

13

In [13]:
len(df_diff_excluded)

13

In [14]:
len(df_guess_excluded)

14

In [15]:
df_control.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     2
M    14

In [16]:
df_control_excluded.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
M    13

In [17]:
df_guess.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     5
M    12

In [18]:
df_guess_excluded.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     3
M    11

In [19]:
df_diff.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     3
M    13

In [20]:
df_diff_excluded.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     1
M    12

# Questionnaire answers

In [26]:
q1 = df_excluded.groupby("EVIS").mean().round(1).drop("ID",1).T
q1.index.name = "Question"
q1

EVIS                                                Control Group  Diff  Guess
Question
Age                                                          29.2  29.2   29.8
I have previous experience with electric vehicles             2.4   2.6    2.9
I have previous experience with being in Virtua...            3.5   2.8    2.9
It was easy to drive the entire distance withou...            3.5   4.9    3.9
I was sure from the beginning, that I would rea...            3.1   3.1    3.7
How sure I was about reaching the destination, ...            5.0   5.1    4.5
I found the dashboard to be reliable                          4.8   4.8    5.4
I found the dashboard useful for completing the...            5.6   5.3    5.9
The displayed remaining distance agreed with th...            5.1   5.2    5.4
I felt I understood what affected the remaining...            5.0   5.6    5.3
I felt I could influence the displayed remainin...            5.2   5.4    5.7
The dashboard was difficult to understand                     2.8   2.7    2.0
I felt the dashboard lacked information for com...            3.5   2.6    3.5

In [28]:
q = df_excluded.groupby("EVIS").median().drop("ID",1).T
q.index.name = "Question"
q

EVIS                                                Control Group  Diff  Guess
Question
Age                                                          26.0  25.0   25.0
I have previous experience with electric vehicles             2.0   2.0    2.5
I have previous experience with being in Virtua...            3.0   2.0    2.0
It was easy to drive the entire distance withou...            3.0   5.0    3.5
I was sure from the beginning, that I would rea...            3.0   3.0    3.5
How sure I was about reaching the destination, ...            5.0   5.0    4.5
I found the dashboard to be reliable                          5.0   5.0    5.0
I found the dashboard useful for completing the...            6.0   6.0    6.0
The displayed remaining distance agreed with th...            5.0   6.0    6.0
I felt I understood what affected the remaining...            5.0   6.0    6.0
I felt I could influence the displayed remainin...            5.0   6.0    6.5
The dashboard was difficult to understand                     3.0   2.0    1.5
I felt the dashboard lacked information for com...            4.0   3.0    4.0

In [29]:
q = df_excluded.groupby("EVIS").std().round(1).drop("ID",1).T
q.index.name = "Question"
q

EVIS                                                Control Group  Diff  Guess
Question
Age                                                           8.8  11.8   14.1
I have previous experience with electric vehicles             1.4   1.7    1.9
I have previous experience with being in Virtua...            2.0   2.1    1.8
It was easy to drive the entire distance withou...            1.3   1.7    2.1
I was sure from the beginning, that I would rea...            1.3   1.8    2.0
How sure I was about reaching the destination, ...            1.5   1.4    2.1
I found the dashboard to be reliable                          0.9   1.9    1.3
I found the dashboard useful for completing the...            1.0   2.0    1.0
The displayed remaining distance agreed with th...            1.0   1.7    1.5
I felt I understood what affected the remaining...            2.1   1.2    1.7
I felt I could influence the displayed remainin...            1.6   1.7    1.5
The dashboard was difficult to understand                     1.7   1.4    1.3
I felt the dashboard lacked information for com...            1.9   1.4    1.8

## Successful during attempt #1

In [ ]:
success_id = [6,  8,  9, 12, 13, 18, 20, 21, 24, 30, 35, 36, 40, 41, 46, 47]

In [ ]:
len(success_id)

In [ ]:
questionnaire_success = df_excluded[df_excluded.ID.isin(success_id)]
questionnaire_success

In [ ]:
len(questionnaire_success)

## Faield during attempt #1

In [ ]:
fails_id = [1,  2,  3,  4,  7, 11, 15, 17, 19, 22, 23, 25, 26, 28, 31, 32, 33, 37, 38, 39, 43, 44, 48, 49]

In [ ]:
len(fails_id)

In [ ]:
questionnaire_failed = df_excluded[df_excluded.ID.isin(fails_id)]
type(questionnaire_failed)

In [ ]:
len(questionnaire_failed)

In [ ]:
questionnaire_failed

In [ ]:
pd.DataFrame(questionnaire_failed.mean()).T.round(1).drop("ID", 1)

In [ ]:
pd.DataFrame(questionnaire_success.mean()).T.round(1).drop("ID", 1)

In [ ]:
pd.DataFrame(questionnaire_failed.median()).T.round(1).drop("ID", 1)

In [ ]:
pd.DataFrame(questionnaire_success.median()).T.round(1).drop("ID", 1)