In [1]:
import pandas as pd
from IPython.display import display

In [2]:
df_guess = pd.read_csv("../questionnaire/guess-o-meter-participants.csv")
df_diff = pd.read_csv("../questionnaire/diff-and-cope-participants.csv")
df_control = pd.read_csv("../questionnaire/controlgroup-participants.csv")

df_guess.rename(columns = {'Type':'EVIS'}, inplace = True)
df_diff.rename(columns = {'Type':'EVIS'}, inplace = True)
df_control.rename(columns = {'Type':'EVIS'}, inplace = True)

In [3]:
df = df_guess.append([df_diff, df_control])

In [4]:
guess_excluded = [5,27,29]
diff_excluded = [10,14,16]
control_excluded = [34,42,45]

In [5]:
df_guess_excluded = df_guess[~df_guess.ID.isin(guess_excluded)]
df_diff_excluded = df_diff[~df_diff.ID.isin(diff_excluded)]
df_control_excluded = df_control[~df_control.ID.isin(control_excluded)]

In [6]:
df_excluded = df_guess_excluded.append([df_diff_excluded, df_control_excluded])

# Nr of participants

In [7]:
len(df_control)

16

In [8]:
len(df_diff)

16

In [9]:
len(df_guess)

17

In [10]:
len(df_control) + len(df_diff) + len(df_guess)

49

In [11]:
len(df_control_excluded) + len(df_diff_excluded) + len(df_guess_excluded)

40

In [12]:
len(df_control_excluded)

13

In [13]:
len(df_diff_excluded)

13

In [14]:
len(df_guess_excluded)

14

In [15]:
df_control.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     2
M    14

In [16]:
df_control_excluded.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
M    13

In [17]:
df_guess.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     5
M    12

In [18]:
df_guess_excluded.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     3
M    11

In [19]:
df_diff.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     3
M    13

In [20]:
df_diff_excluded.groupby(["Sex"]).count()[["ID"]]

     ID
Sex
F     1
M    12

# Questionnaire answers

In [21]:
q1 = df_excluded.groupby("EVIS").mean().round(1).drop("ID",1).T
q1.index.name = "Question"
q1

EVIS                                                Control Group  Diff  Guess
Question
Age                                                          29.2  29.2   29.8
I have previous experience with electric vehicles             2.4   2.6    2.9
I have previous experience with being in Virtua...            3.5   2.8    2.9
It was easy to drive the entire distance withou...            3.5   4.9    3.9
I was sure from the beginning, that I would rea...            3.1   3.1    3.7
How sure I was about reaching the destination, ...            5.0   5.1    4.5
I found the dashboard to be reliable                          4.8   4.8    5.4
I found the dashboard useful for completing the...            5.6   5.3    5.9
The displayed remaining distance agreed with th...            5.1   5.2    5.4
I felt I understood what affected the remaining...            5.0   5.6    5.3
I felt I could influence the displayed remainin...            5.2   5.4    5.7
The dashboard was difficult to understand                     2.8   2.7    2.0
I felt the dashboard lacked information for com...            3.5   2.6    3.5

In [22]:
q = df_excluded.groupby("EVIS").median().drop("ID",1).T
q.index.name = "Question"
q

EVIS                                                Control Group  Diff  Guess
Question
Age                                                          26.0  25.0   25.0
I have previous experience with electric vehicles             2.0   2.0    2.5
I have previous experience with being in Virtua...            3.0   2.0    2.0
It was easy to drive the entire distance withou...            3.0   5.0    3.5
I was sure from the beginning, that I would rea...            3.0   3.0    3.5
How sure I was about reaching the destination, ...            5.0   5.0    4.5
I found the dashboard to be reliable                          5.0   5.0    5.0
I found the dashboard useful for completing the...            6.0   6.0    6.0
The displayed remaining distance agreed with th...            5.0   6.0    6.0
I felt I understood what affected the remaining...            5.0   6.0    6.0
I felt I could influence the displayed remainin...            5.0   6.0    6.5
The dashboard was difficult to understand                     3.0   2.0    1.5
I felt the dashboard lacked information for com...            4.0   3.0    4.0

In [23]:
q = df_excluded.groupby("EVIS").std().round(1).drop("ID",1).T
q.index.name = "Question"
q

EVIS                                                Control Group  Diff  Guess
Question
Age                                                           8.8  11.8   14.1
I have previous experience with electric vehicles             1.4   1.7    1.9
I have previous experience with being in Virtua...            2.0   2.1    1.8
It was easy to drive the entire distance withou...            1.3   1.7    2.1
I was sure from the beginning, that I would rea...            1.3   1.8    2.0
How sure I was about reaching the destination, ...            1.5   1.4    2.1
I found the dashboard to be reliable                          0.9   1.9    1.3
I found the dashboard useful for completing the...            1.0   2.0    1.0
The displayed remaining distance agreed with th...            1.0   1.7    1.5
I felt I understood what affected the remaining...            2.1   1.2    1.7
I felt I could influence the displayed remainin...            1.6   1.7    1.5
The dashboard was difficult to understand                     1.7   1.4    1.3
I felt the dashboard lacked information for com...            1.9   1.4    1.8

## Successful during attempt #1

In [24]:
success_id = [6,  8,  9, 12, 13, 18, 20, 21, 24, 30, 35, 36, 40, 41, 46, 47]

In [25]:
len(success_id)

16

In [26]:
questionnaire_success = df_excluded[df_excluded.ID.isin(success_id)]
questionnaire_success

,ID,EVIS,Age,Sex,I have previous experience with electric vehicles,I have previous experience with being in Virtual Reality,It was easy to drive the entire distance without running out of battery,"I was sure from the beginning, that I would reach the destination without running out of battery","How sure I was about reaching the destination, without running out of battery, changed throughout the drive",I found the dashboard to be reliable,I found the dashboard useful for completing the task,The displayed remaining distance agreed with the distance I could drive,I felt I understood what affected the remaining distance displayed by the dashboard,I felt I could influence the displayed remaining distance,The dashboard was difficult to understand,I felt the dashboard lacked information for completing the task
4,9,Guess,59,M,2,6,6,4,1,6,7,6,6,7,1,1
6,13,Guess,21,M,6,2,6,5,6,7,5,6,6,7,1,7
10,21,Guess,41,F,6,2,5,3,4,5,5,6,6,5,4,4
2,6,Diff,56,M,4,2,7,2,2,5,6,6,6,6,3,5
3,8,Diff,21,M,3,1,7,3,5,7,7,7,6,7,2,1
5,12,Diff,26,M,1,2,6,4,5,5,6,4,6,6,1,3
8,18,Diff,27,M,1,7,4,3,7,7,7,7,6,6,2,1
9,20,Diff,52,M,1,2,6,3,6,2,6,2,3,6,5,3
11,24,Diff,24,M,2,2,6,7,3,6,6,6,7,6,2,2
14,30,Diff,19,M,6,1,5,6,4,5,6,6,7,6,2,4
2,35,Control Group,47,M,4,1,5,2,3,5,4,4,3,4,3,5
3,36,Control Group,25,M,1,6,4,2,7,3,6,5,7,6,4,3
7,40,Control Group,23,M,2,5,3,4,6,4,5,5,7,5,6,2
8,41,Control Group,25,M,2,6,3,3,5,6,6,5,6,7,2,2
13,46,Control Group,26,M,1,2,3,4,5,5,6,5,6,5,3,4
14,47,Control Group,47,M,3,2,5,3,6,4,4,4,5,6,3,6

In [27]:
len(questionnaire_success)

16

In [28]:
success_attempts = pd.DataFrame(questionnaire_success.mean()).round(1).drop("ID", 0)

In [30]:
successful_median = pd.DataFrame(questionnaire_success.median()).T.round(1).drop("ID", 1).T
successful_median = successful_median.rename(columns = {0:"Successful"})

In [31]:
successful_median

                                                    Successful
Age                                                       26.0
I have previous experience with electric vehicles          2.0
I have previous experience with being in Virtua...         2.0
It was easy to drive the entire distance withou...         5.0
I was sure from the beginning, that I would rea...         3.0
How sure I was about reaching the destination, ...         5.0
I found the dashboard to be reliable                       5.0
I found the dashboard useful for completing the...         6.0
The displayed remaining distance agreed with th...         5.5
I felt I understood what affected the remaining...         6.0
I felt I could influence the displayed remainin...         6.0
The dashboard was difficult to understand                  2.5
I felt the dashboard lacked information for com...         3.0

In [56]:
succesfull_sd = pd.DataFrame(questionnaire_success.std()).T.round(1).drop("ID", 1).T
succesfull_sd = succesfull_sd.rename(columns = {0:"Succesfull"})

succesfull_sd

                                                    Succesfull
Age                                                       14.0
I have previous experience with electric vehicles          1.9
I have previous experience with being in Virtua...         2.1
It was easy to drive the entire distance withou...         1.3
I was sure from the beginning, that I would rea...         1.4
How sure I was about reaching the destination, ...         1.7
I found the dashboard to be reliable                       1.4
I found the dashboard useful for completing the...         0.9
The displayed remaining distance agreed with th...         1.3
I felt I understood what affected the remaining...         1.2
I felt I could influence the displayed remainin...         0.9
The dashboard was difficult to understand                  1.4
I felt the dashboard lacked information for com...         1.8

## Failed during attempt #1

In [32]:
fails_id = [1,  2,  3,  4,  7, 11, 15, 17, 19, 22, 23, 25, 26, 28, 31, 32, 33, 37, 38, 39, 43, 44, 48, 49]

In [33]:
len(fails_id)

24

In [34]:
questionnaire_failed = df_excluded[df_excluded.ID.isin(fails_id)]
type(questionnaire_failed)

pandas.core.frame.DataFrame

In [35]:
len(questionnaire_failed)

24

In [36]:
questionnaire_failed

,ID,EVIS,Age,Sex,I have previous experience with electric vehicles,I have previous experience with being in Virtual Reality,It was easy to drive the entire distance without running out of battery,"I was sure from the beginning, that I would reach the destination without running out of battery","How sure I was about reaching the destination, without running out of battery, changed throughout the drive",I found the dashboard to be reliable,I found the dashboard useful for completing the task,The displayed remaining distance agreed with the distance I could drive,I felt I understood what affected the remaining distance displayed by the dashboard,I felt I could influence the displayed remaining distance,The dashboard was difficult to understand,I felt the dashboard lacked information for completing the task
0,1,Guess,24,M,0,6,6,3,4,4,5,6,5,7,3,3
1,3,Guess,20,M,3,3,7,1,7,7,7,5,7,7,2,4
3,7,Guess,62,M,1,1,3,5,2,4,6,6,6,7,2,2
5,11,Guess,25,M,3,2,6,6,2,7,7,7,7,7,1,1
7,15,Guess,27,M,2,4,1,2,2,4,5,1,2,3,1,3
8,17,Guess,26,F,2,2,3,1,5,5,4,6,5,4,3,4
9,19,Guess,28,M,5,4,2,3,6,5,6,5,3,4,1,4
11,23,Guess,20,M,4,5,3,5,7,4,6,6,6,5,1,5
12,25,Guess,19,F,1,1,1,7,4,6,7,6,7,7,1,1
15,31,Guess,25,M,1,1,4,6,7,7,7,6,6,6,2,5
16,49,Guess,20,M,4,1,2,1,6,4,5,3,2,4,5,5
0,2,Diff,25,M,3,5,5,2,7,2,5,2,5,7,5,1
1,4,Diff,23,M,5,2,5,1,5,5,1,6,5,5,2,3
10,22,Diff,23,M,4,2,4,2,6,6,7,7,6,6,3,2
12,26,Diff,35,M,1,7,5,2,5,7,7,6,7,1,1,1
13,28,Diff,19,M,2,2,3,4,5,4,3,5,5,5,5,3
15,32,Diff,30,F,1,1,1,1,6,2,2,4,4,3,2,5
0,33,Control Group,26,M,5,6,1,6,7,5,4,6,5,4,3,5
4,37,Control Group,20,M,2,2,4,3,5,6,6,4,1,5,2,4
5,38,Control Group,27,M,1,1,2,1,2,5,7,6,7,7,1,1
6,39,Control Group,23,M,2,2,5,3,5,6,6,4,5,6,1,5
10,43,Control Group,30,M,2,6,2,3,3,5,6,6,1,1,6,6
11,44,Control Group,36,M,1,4,5,2,6,4,7,7,7,5,1,1
15,48,Control Group,25,M,5,3,3,4,5,5,6,5,5,6,1,1

In [47]:
failed_median = pd.DataFrame(questionnaire_failed.median()).T.round(1).drop("ID", 1).T
failed_median = failed_mean.rename(columns = {0:"Failed"})

failed_median

                                                    Failed
Age                                                   26.6
I have previous experience with electric vehicles      2.5
I have previous experience with being in Virtua...     3.0
It was easy to drive the entire distance withou...     3.5
I was sure from the beginning, that I would rea...     3.1
How sure I was about reaching the destination, ...     5.0
I found the dashboard to be reliable                   5.0
I found the dashboard useful for completing the...     5.5
The displayed remaining distance agreed with th...     5.2
I felt I understood what affected the remaining...     5.0
I felt I could influence the displayed remainin...     5.1
The dashboard was difficult to understand              2.3
I felt the dashboard lacked information for com...     3.1

In [38]:
failed_mean = pd.DataFrame(questionnaire_failed.mean()).T.round(1).drop("ID", 1).T
failed_mean = failed_mean.rename(columns = {0:"Failed"})

failed_mean

                                                    Failed
Age                                                   26.6
I have previous experience with electric vehicles      2.5
I have previous experience with being in Virtua...     3.0
It was easy to drive the entire distance withou...     3.5
I was sure from the beginning, that I would rea...     3.1
How sure I was about reaching the destination, ...     5.0
I found the dashboard to be reliable                   5.0
I found the dashboard useful for completing the...     5.5
The displayed remaining distance agreed with th...     5.2
I felt I understood what affected the remaining...     5.0
I felt I could influence the displayed remainin...     5.1
The dashboard was difficult to understand              2.3
I felt the dashboard lacked information for com...     3.1

In [54]:
failed_sd = pd.DataFrame(questionnaire_failed.std()).T.round(1).drop("ID", 1).T
failed_sd = failed_sd.rename(columns = {0:"Failed"})

failed_sd

                                                    Failed
Age                                                    8.8
I have previous experience with electric vehicles      1.6
I have previous experience with being in Virtua...     1.9
It was easy to drive the entire distance withou...     1.8
I was sure from the beginning, that I would rea...     1.9
How sure I was about reaching the destination, ...     1.7
I found the dashboard to be reliable                   1.4
I found the dashboard useful for completing the...     1.7
The displayed remaining distance agreed with th...     1.5
I felt I understood what affected the remaining...     1.9
I felt I could influence the displayed remainin...     1.8
The dashboard was difficult to understand              1.5
I felt the dashboard lacked information for com...     1.7

In [39]:
pd.DataFrame(questionnaire_success.mean()).T.round(1).drop("ID", 1)

,Age,I have previous experience with electric vehicles,I have previous experience with being in Virtual Reality,It was easy to drive the entire distance without running out of battery,"I was sure from the beginning, that I would reach the destination without running out of battery","How sure I was about reaching the destination, without running out of battery, changed throughout the drive",I found the dashboard to be reliable,I found the dashboard useful for completing the task,The displayed remaining distance agreed with the distance I could drive,I felt I understood what affected the remaining distance displayed by the dashboard,I felt I could influence the displayed remaining distance,The dashboard was difficult to understand,I felt the dashboard lacked information for completing the task
0,33.7,2.8,3.1,5.1,3.6,4.7,5.1,5.8,5.2,5.8,5.9,2.8,3.3

In [40]:
pd.DataFrame(questionnaire_failed.median()).T.round(1).drop("ID", 1)

,Age,I have previous experience with electric vehicles,I have previous experience with being in Virtual Reality,It was easy to drive the entire distance without running out of battery,"I was sure from the beginning, that I would reach the destination without running out of battery","How sure I was about reaching the destination, without running out of battery, changed throughout the drive",I found the dashboard to be reliable,I found the dashboard useful for completing the task,The displayed remaining distance agreed with the distance I could drive,I felt I understood what affected the remaining distance displayed by the dashboard,I felt I could influence the displayed remaining distance,The dashboard was difficult to understand,I felt the dashboard lacked information for completing the task
0,25.0,2.0,2.0,3.0,3.0,5.0,5.0,6.0,6.0,5.0,5.0,2.0,3.0

In [41]:
pd.DataFrame(questionnaire_success.median()).T.round(1).drop("ID", 1)

,Age,I have previous experience with electric vehicles,I have previous experience with being in Virtual Reality,It was easy to drive the entire distance without running out of battery,"I was sure from the beginning, that I would reach the destination without running out of battery","How sure I was about reaching the destination, without running out of battery, changed throughout the drive",I found the dashboard to be reliable,I found the dashboard useful for completing the task,The displayed remaining distance agreed with the distance I could drive,I felt I understood what affected the remaining distance displayed by the dashboard,I felt I could influence the displayed remaining distance,The dashboard was difficult to understand,I felt the dashboard lacked information for completing the task
0,26.0,2.0,2.0,5.0,3.0,5.0,5.0,6.0,5.5,6.0,6.0,2.5,3.0

## Success - Fail Merge

In [42]:
success_attempts["Failed"] = failed_mean

In [43]:
success_attempts = success_attempts.rename(columns = {0:"Successful"})

In [44]:
success_attempts

                                                    Successful  Failed
Age                                                       33.7    26.6
I have previous experience with electric vehicles          2.8     2.5
I have previous experience with being in Virtua...         3.1     3.0
It was easy to drive the entire distance withou...         5.1     3.5
I was sure from the beginning, that I would rea...         3.6     3.1
How sure I was about reaching the destination, ...         4.7     5.0
I found the dashboard to be reliable                       5.1     5.0
I found the dashboard useful for completing the...         5.8     5.5
The displayed remaining distance agreed with th...         5.2     5.2
I felt I understood what affected the remaining...         5.8     5.0
I felt I could influence the displayed remainin...         5.9     5.1
The dashboard was difficult to understand                  2.8     2.3
I felt the dashboard lacked information for com...         3.3     3.1

### Median

In [45]:
successful_median["Failed"] = failed_median

In [46]:
successful_median

                                                    Successful  Failed
Age                                                       26.0    25.0
I have previous experience with electric vehicles          2.0     2.0
I have previous experience with being in Virtua...         2.0     2.0
It was easy to drive the entire distance withou...         5.0     3.0
I was sure from the beginning, that I would rea...         3.0     3.0
How sure I was about reaching the destination, ...         5.0     5.0
I found the dashboard to be reliable                       5.0     5.0
I found the dashboard useful for completing the...         6.0     6.0
The displayed remaining distance agreed with th...         5.5     6.0
I felt I understood what affected the remaining...         6.0     5.0
I felt I could influence the displayed remainin...         6.0     5.0
The dashboard was difficult to understand                  2.5     2.0
I felt the dashboard lacked information for com...         3.0     3.0

### Standard deviation

In [57]:
succesfull_sd["Failed"] = failed_sd

In [59]:
succesfull_sd

                                                    Succesfull  Failed
Age                                                       14.0     8.8
I have previous experience with electric vehicles          1.9     1.6
I have previous experience with being in Virtua...         2.1     1.9
It was easy to drive the entire distance withou...         1.3     1.8
I was sure from the beginning, that I would rea...         1.4     1.9
How sure I was about reaching the destination, ...         1.7     1.7
I found the dashboard to be reliable                       1.4     1.4
I found the dashboard useful for completing the...         0.9     1.7
The displayed remaining distance agreed with th...         1.3     1.5
I felt I understood what affected the remaining...         1.2     1.9
I felt I could influence the displayed remainin...         0.9     1.8
The dashboard was difficult to understand                  1.4     1.5
I felt the dashboard lacked information for com...         1.8     1.7